<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light " style="display:flex; border:solid">
		
		 <a class="navbar-brand" style="display:flex; width:50%; text-decoration:none; color:red " href="#">
		  		<div  style="width:100%;  display: flex; justify-content: space-around;"><h1>The<b>Print</b></h1></div>

		 </a>  		
		  		<div style="  width:20%; display: flex; align-items: center" >{{today | date:'fullDate'}}</div>
		  		<div  style=" width:50%; display: flex; justify-content: space-evenly" >
		  		<img   src="../../assets/images/Facebook Round.png" height="30" width='30'  
		  		class="d-inline-block align-top" alt="" style="align-self:center"/>
		  		<img   src="../../assets/images/Twitter round.png" height="30" width='30'  
		  		class="d-inline-block align-top" alt="" style="align-self:center"/>
		  		<img   src="../../assets/images/Youtube round.png" height="30" width='30'  
		  		class="d-inline-block align-top" alt="" style="align-self:center"/>
		  		<img   src="../../assets/images/Linkedin round.png" height="30" width='30'  
		  		class="d-inline-block align-top" alt="" style="align-self:center"/>
		  	</div>
		 
		
	</nav>
</div>
<app-subheader></app-subheader>
