<footer>
	<div class="container" style="background-color:#454545; margin-top:-45px">
		 <!--Grid row- style="display:flex"-->
      <div class="row" style="    text-align: left; padding-bottom:15px" >
	      	<div>
	      		<a href="" style="text-decoration:none; color:red"><h1 style="margin-bottom:0">The<b>Print</b></h1></a>
	      	</div>
	      	
	      	<div style="color:white">Substance of Print, Speed of Digital</div>
      	</div>
       <!--Grid row-->
      <div class="row" style="display:flex; justify-content: space-between; color:white">
	      	<div>
	      		<span>Contact us: feedback@print.in</span>
	      	</div>
	      	<div>
	      		<h2 style="text-align: left;    margin-bottom: 5px;     margin-top: 0px;">Follow Us</h2>
	      		<div  style=" width:100%; display: flex; justify-content: space-evenly; padding-bottom:15px" >
			  		<img   src="../../assets/images/Facebook Round.png" height="30" width='30'  
			  		class="d-inline-block align-top" alt="" style="align-self:center;     padding-right: 10px;"/>
			  		<img   src="../../assets/images/Twitter round.png" height="30" width='30'  
			  		class="d-inline-block align-top" alt="" style="align-self:center;     padding-right: 10px;"/>
			  		<img   src="../../assets/images/Youtube round.png" height="30" width='30'  
			  		class="d-inline-block align-top" alt="" style="align-self:center;     padding-right: 10px;"/>
			  		<img   src="../../assets/images/Linkedin round.png" height="30" width='30'  
			  		class="d-inline-block align-top" alt="" style="align-self:center;     padding-right: 10px;"/>
			  	</div>
	      	</div>
      </div>
	</div>
	<!-- Copyright -->
    <div class="footer-copyright py-3" style="background-color:red; color: white; display:flex; justify-content: space-between;">
      <a  style="padding-top: 15px;"> Copyright © 2019 Printline Media Pvt. Ltd. All rights reserved.</a>
      <ul class="nav justify-content-end" style="display:flex">
          <li class="nav-item" style="display:flex; padding-right: 20px;"><a class=" nav-link" href="#" style="color:white; text-decoration:none">About</a></li>
		  <li class="nav-item" style="display:flex; padding-right: 20px;"><a class=" nav-link" href="#" style="color:white; text-decoration:none">Contact</a></li>
		  <li class="nav-item" style="display:flex; padding-right: 20px;"><a class=" nav-link " href="#" style="color:white; text-decoration:none">Careers</a></li>
		  <li class="nav-item" style="display:flex; padding-right: 20px;"><a class=" nav-link " href="#" style="color:white; text-decoration:none">Terms of Use</a></li>
		  <li class="nav-item" style="display:flex; padding-right: 20px;"><a class=" nav-link " href="#" style="color:white; text-decoration:none">Privacy Policy</a></li>
      </ul>
    </div>
    <!-- Copyright -->
</footer>
