<div class="contentFont" style="background-color: #222221;" layout="column" layout-align="center center">
	<app-candidatedescription [stateData]="_stateData" [constituencyData]="_constituencyData"
	[candidateDetailData]="_candidateDetail"></app-candidatedescription>
	<app-mpsubjectquestion [subjectwiseQuestionData]="_subjectwiseQuestionData" ></app-mpsubjectquestion>
	<app-mpladsexpenditure [candidateExpenditure] = "_candidateExpenditure" ></app-mpladsexpenditure>
	<app-constituencyindicators  [stateData]="_stateData" [constituencyData]="_constituencyData" ></app-constituencyindicators>
</div>